Christian Amsuess review of -04

Hello Med, hello Jon,

here's a few concrete points I'd like to suggest for new-block:

* Applicability: I'd have expected to read something like this in the
  introduction:

  > The block-wise transfer of [RFC7959] covers the general case, but
  > falls short in situations where packet loss is highly asymmetrical.
  >
  > The new options introduced here provide roughly similar features to
  > the Block1/Block2 options. They provide additional properties that
  > are tailored towards the intended use case, and leave out mechanisms
  > like non-atomic access and proxy support that would complicate their
  > description.
  >
  > They are not intended for general CoAP usage, and any use outside
  > the DOTS use case should be carefully weighed against the loss of
  > interoperability with generic CoAP applications. It is hoped that
  > experience gained with these options can go into future extensions
  > of the block-wise mechanism that are both generally applicable and
  > serve this particular use case.

* Separation of layers, sub-topic "congestion control": It should be
  possible to phrase all congestion control parts of this in a dedicated
  section (which may also make sense as an appendix).

  I'd avoid all other mentions of things like PROBING_RATE: For example,
  Section 3.4 right in the middle of a paragraph on re-requesting
  missing blocks states that

  > The rate of requests for missing blocks is subject to PROBING_RATE.

  Yes it is, but so is every single CoAP request until the client hears
  back from the server. Repeating these things in places where are not a
  new requirement may make it easier for some implementers that try to
  build the whole stack in a single go, but even for them is prone to
  the authors missing a spot -- and for everyone else this will each
  time trigger the question of "is this new here or isn't this already
  handled by a component two layers down the stack?".

  I haven't tracked every single retransmission and rate limiting
  statement throughout the document, but I expect that this section
  could boil down to something like

  > For the DOTS use case, the following default CoAP parameters are
  > updated to better reflect the typical deployments:
  >
  > * PROBING_RATE: 10 kilobyte/second
  >
  > The averaging process mentioned in RFC7252 Section 4.7 after which
  > PROBING_RATE applies is not fully defined there. For the above
  > applications, a new parameter PROBING_RATE_WINDOW is introduced.
  > Messages up to a total size of PROBING_RATE_WINDOW may be sent
  > before PROBING_RATE is considered, and the probing rate may
  > generally be exceeded by that amount of data in short term.
  >
  > * PROBING_RATE_WINDOW: 15 kilobyte

  (The latter replaces MAX_PAYLOADS, and I'm not sure whether it is
  better to express this in terms of package count or bytes on the wire,
  just giving an example here. All numbers in the above were pulled out
  of uninformed air.)

* Separation of layers, sub-topic "Tokens": Same thing, next layer.

  Whenever you're tempted to talk of a token, consider some of these
  replacement phrases as a first step:

  * "MUST be sent with a new token" -> "is a new request".
  * "Tokens MUST be included" -> (nothing -- transports use tokens by
    construction)
  * "MUST be sent with the same token as the response" -> "is sent as a
    response to" / "is sent as an additional response to that request".
    (Here it may make sense to refer to the tokens in an additional "
    (which means it uses the same token, the same way an observation
    response uses the requests's token for multiple responses)").

* Naming: It's technically a minor thing, but people have already
  complained to me about how hard the Block[12] names are to comprehend,
  and introducing these options as Block[34] would not help here.

  I'd like to suggest QuickBlock-Block[12].

  (I know that this part of designing a new option is annoying. In the
  interest of winding up with something that can be learned easily, it
  is unfortunately essential).

  In connection with that, it may make sense to briefly think about a
  draft name before it is submitted as a WG draft. new-block sounds like
  a 7959bis, which in my understanding this does not aim to be.

* 4.TBA3 Missing Payloads: I don't quite see why this needs a distinct
  code. 4.08 Request Entity Incomplete sounds perfectly suitable to me.

  If you think that sending an existing 4.xx code in the middle of a
  block-wise transfer would cancel the transfer, there's still two ways
  out of this:

  * You're just defining what a block-wise transfer is; just allow it.

    (In a RFC7959 block-wise transfer that runs over a proxy, the proxy
    may be currently incapable of doing any forwarding and return 5.03
    Service Unavailable Max-Age:5. The client would then just pause 5
    seconds and send the latest block again.)

  * For all but the last block, it may also be an option to send it as a
    payload to a 2.31 code -- I don't think that would be outright
    forbidden (and at any rate, all involved clients speak the protocol
    anyway).

* The draft describes this all as "just working through a proxy" --
  original block-wise does not, and I'd like to hear how this is hoping
  to get away without the options being proxy-unsafe.

  Is there any point at all in using block-by-block proxying for these
  use cases? Unless a proxy is sitting right inside the link under
  attack, and unless the bodies get huge, it may be way easier for this
  to be purely hop-by-hop. Proxies would reassemble the full bodies and,
  for the next hop, just decide what works best there (be it regular
  block-wise, Block34 or BERT).
  
  (If there's a point in allowing block-by-block forwarding, we can talk
  it through and work through the initial ideas that will come up like
  "We use large enough Request-Tag values so they are unique", "how
  large does that need to be", "why do we end up having a Request-Tag in
  every request now" and "why do we not want that", but my gut feeling
  is we won't need to go there.)

Kind regards
Christian